@page
@model List<DeloitteProject.Domain.Models.Hotel>
<script src="~/js/hotel.js"></script>

@{
    <div class="text-center">
        <h1 class="display-4">List of All Hotels</h1>
        
        <div id="divMsg"></div>

        <div class="container">
    <div class="row grid-container">
        <div class="col-md-10">
            <div class="table">
            <script>
            for (let i = 0; i < hotels.length; i++) {
                alert(hotels[i].id);
            }
            </script>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Ranking</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hotel of hotels;">
                            <td>{{hotel.id}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    </div>
}

