<h1>Hello, Deloitte!</h1>
<p>This is a basic angular project to fetch hotel list from an API built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>The application allows the user to:</p>
<ul>
  <li><strong>View List of Available Hotels</strong>. Default Behaviour</li>
  <li><strong>Search Hotels By Name</strong>. This is a case insensitive by name</li>
  <li><strong>Search Hotels By Keyword</strong>. This is a case insensitive filter by either name, description or location</li>
  <li><strong>Search Hotels By Minimum Rating</strong>. This is a filter for hotels rated same or higher than user selection</li>
  <li><strong>Sort Hotels</strong>. User can sort all columns</li>
</ul>
